@import '../settings/indentation.scss';

.c-button {
  padding: 20px 41px;
  font-family: $base;
  border-radius: 1px;
  transition: transform 0.1s linear;

  &--default {
    text-transform: uppercase;
    background-color: $accent;
    color: $white;
    line-height: 16px;
    font-size: 16px;
  }

  &:hover {
    transform: translateY(-3%);
  }
}
